.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



p {
  font-size: larger;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------- Homepage --------- */

.Home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

/*--------- Landing Page --------- */

.Landing-background {
  background: url(landing-img.png);
  background-repeat: no-repeat;
  display: flex;
  flex: 2;
  background-size: 500px;
  background-position: bottom;
  background-attachment: inherit;

}

.Landing-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: white;
}

.exempla-text {
  color: #000000b0;
  font-size: 50px;
  font-weight: 200;
}

.ttp-logo {
  width: 50%;
  align-self: center;
}

.landing-title {
  color: white
}


.exempla-logo {
  vertical-align: middle;
  border-style: none;
  height: 40px;

}
.Auth-container {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1

}

.Auth {
  display: flex;
  width: 400px;
  max-width: 100%;

}

/*---------- Navbar -----------*/



.Nav-links {
  justify-content: right;
  display: grid;
}

.Nav-spacer {
  display: inline-flex;
  width: 100%;
}

.Nav-logo {
  width: 200px;
  margin: 0px 15px 0px 15px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  color: white;
  font-weight: 600;
}

.logo-navbar {
  display: flex;
  height: 100%;
  width: auto;
  margin: auto;
  margin-left: 10px;
  padding: 15px
  
}






/* Profile */

.profile-header {
  margin-top: 20px;
  background: linear-gradient(to bottom,#8835fe 60%, white 0%); 
}

.profile-user-info{
  max-width: 600px;
  display: inline-block;
  flex-direction: column;
  margin: 20px;
}

.profile-socials {
  
}

.edit-profile-button{
  margin-top: 20px;
}


.logo {

  height: 100%;
  float: left;

}


/* Homepage */

.homepage-header {
  font-size: 50px;
  font-weight: 800
}

.event-header-submissions {
  font-size: 45px;
  font-weight: 800
}

.event-list{
  display: inline-flex;
}

.ant-row{
  justify-content: center;
}

.ant-layout {


}

.layout {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  padding-bottom: 4px 
}


/* buttons */

.ant-btn .ant-btn-primary {
  background: #000000;
  border-color: #242729;
  }



/* event */

.event-form {
  display: inline-flex;
  flex-direction: column;
  width: 70%;
  margin: auto
}


/* submission card */

.submission-card-body{
  display: inline-grid;
}

.submit-img {
  background-color: lightgrey;

  height: 182px

}


@media only screen and (max-width:600px) {
  .logo {
    display: none;
  }
  .logo-navbar {
    display: none;
  }
  .Nav-links {
    justify-content: center;
  }
  .Landing-background{
    display: none
  }
}

