.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p {
  font-size: larger;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line-break {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  height: 3;
  width: 100%;
  margin: 30px 0px 0px 0px
}


/*--------- Homepage --------- */

.Home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*--------- Login Page --------- */

.login-background {
  background: url(landing-img.png);
  background-repeat: no-repeat;
  display: flex;
  flex: 1;
  background-size: 500px;
  background-position: bottom;
  background-attachment: inherit;
}

.login-background-employer {
  background: url(employerlogin.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex: 1;
 background-size: cover;
  background-position: bottom;
  background-attachment: inherit;
      border-radius: 20px 300px;
}

.login-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: white;
}

.exempla-text {
  color: #000000b0;
  font-size: 50px;
  font-weight: 200;
}

.ttp-logo {
  width: 50%;
  align-self: center;
}



.exempla-logo {
  vertical-align: middle;
  border-style: none;
  height: 40px;
}
.Auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1;
}

.Auth {
  display: flex;
  width: 400px;
  max-width: 100%;
}

/*--------- Landing Page  --------- */

.landing-header {
  text-align: left;
  margin: 50px;
}

.landing-subtitle {
  margin: 20px;
  font-size: 35px;
  font-weight: 700;
 
 
}

.landing-subtitle-subtext {
  max-width: 600px;
  font-size: 20px;
  font-weight: 500;

  
}

.subtitles-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fffefe;

}
.gradient-background {
  background: linear-gradient(-45deg, #8835fe, #dd6def, #5e14e7, #b586f7);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-header > h1 {
  margin-bottom: 0px;
  line-height: normal;
  font-weight: 800;
  font-size: 70px;
}



.landing-login-buttons {
  margin: 20px;
  width: fit-content;
}

.landing-candidate-info{
  display: inline-flex;
  width: 100%;
  align-items: center;

  
}

.candidate-img{
max-width: 30%;
max-height: 30vw;

  border-radius: 0px 0px 100px 10px;
  align-self: flex-start;
}

.candidate-info {
  width: 70%;
  padding: 0px 50px 0px 50px;
  text-align: left;


}

.candidate-info > h3 {
font-size: 20px;
}

.candidate-info-header{
  font-size: 30px;
  font-weight: 700;
}


/* ---- Title Animation */

.build {
  animation: showTopText 1s;

}

.showcase {
  animation: showTopText 1.5s;
  
}

.hired {
  animation: showTopText 2s;
  
}


@keyframes showTopText {
  0% {opacity: 0 }
  49% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 1 }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}




  /* ---------- Company  Landing ------- */
  
  .landing-company-info{
    display: inline-flex;
    width: 100%;
    align-items: center;
  
  }
  
  .company-img{
  max-width: 30%;
  max-height: 30vw;
  
    border-radius: 0px 0px 10px 100px;
    align-self: flex-start;
  }
  
  .company-info {
    width: 70%;
    padding: 0px 50px 0px 50px;
    text-align: left;
    
  
  }
  
  .company-info > h3 {
  font-size: 20px;
  }
  
  .company-info-header{
    font-size: 30px;
    font-weight: 700;
}
/*---------- Navbar -----------*/

.Nav-links {
  justify-content: right;
  display: grid;
}

.Nav-spacer {
  display: inline-flex;
  width: 100%;
}

.Nav-logo {
  width: 200px;
  margin: 0px 15px 0px 15px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  color: white;
  font-weight: 600;
}

.logo-navbar {
  display: flex;
  height: 70%;
  width: auto;
  margin: auto;
  margin-left: 10px;
}

/* Profile */

.profile-header {
  margin-top: 20px;
  background: linear-gradient(to bottom, #8835fe 60%, white 0%);
}

.profile-user-info {
  max-width: 600px;
  display: inline-block;
  flex-direction: column;
  margin: 20px;
}

.edit-profile-button {
  margin-top: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 100%;
  float: left;

}

.logo > p {
  font-weight: 300;
    font-size: 25px;
    margin-left: 20px;
    letter-spacing: 3px;



}
/* Homepage */

.homepage-header {
  font-size: 50px;
  font-weight: 800;
}

.event-header-submissions {
  font-size: 45px;
  font-weight: 800;
}

.event-list {
  display: inline-flex;
}

.ant-row {
  justify-content: center;
}

.ant-layout {
}

.layout {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  padding-bottom: 4px;
}

/* buttons */

.ant-btn .ant-btn-primary {
  background: #000000;
  border-color: #242729;
}

/* event */

.event-form {
  display: inline-flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

/* submission card */

.submission-card-body {
  display: inline-grid;
}

.submit-img {
  background-color: lightgrey;

  height: 182px;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  .logo-navbar {
    display: none;
  }
  .Nav-links {
    justify-content: center;
  }
  .login-background {
    display: none;
  }
}
